{% extends 'lecturer/base.html' %}

{% block title %}Upload Page{% endblock %}

{% block right_nav %}
    <li>
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Account<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a class="navbar-" {% if user.is_authenticated %} href="http://127.0.0.1:8000/admin/" {% else %} href="#" {% endif %}}>Hello {{ user.username }}</a></li>
          <li><a href="{% url 'lecturer:lecturer_logout' %}"}>Logout<span class="glyphicon glyphicon-off"></span></a></li>
        </ul>
	</li>
{% endblock %}

{% block body %}
<style type="text/css">

	.upload_student_progress_report{
	    text-align: center;
	    font-family: Open Sans;
	    font-size: 18px;
	    color: black;
	}

    .button {
      display: inline-block;
      border-radius: 12px;
      background-color: #c7cde8;
      border: none;
      color: black;
      text-align: center;
      font-size: 14px;
      padding: 15px;
      width: 150px;
      transition: all 0.5s;
      cursor: pointer;
      margin: 5px;
      font-family: Open sans;
    }
    .button:hover{
        background-color: black;
        color: white;
    }

</style>

<div class="upload_student_progress_report">
    {% if request.user.is_authenticated %}
        <br><br>
        <p>Please upload a file to visualize the student progress and passed unit information.</p><br><br>
        <div class="upload_student_progress_report">
            <form action="{% url 'lecturer:show_student_progress_report' lecturer_name %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="file">Choose a file</label><br>
                &nbsp; &nbsp; &nbsp; &nbsp;<center> <input type="file" name="myfile"></center>
                <br>
                <button class="button" type="submit" style="vertical-align:middle" ><span>Upload</span></button>
            </form>
        </div>

        <div class="uploaded_file_show">
            {% if uploaded_file_url %}
               <p>File uploaded at: <a href="{{ uploaded_file_url }}"><button class="button" type="submit" style="vertical-align:middle" ><span>Show Progress Report</span></button></a></p>
             {% endif %}
        </div>
    {% else %}
        <h4>Please <a href="{% url 'lecturer:lecturer_login' %}">login</a> again</h4>
    {% endif %}
</div>
{% endblock %}