{% extends 'student/base.html' %}


{% block body %}
<style type="text/css">

    .container{
        font-family: Open sans;
        font-size: 18px;
        color: black;
    }

    .final_unit_without_prerequisite {
        color: green;
    }

    .final_unit_with_prerequisite {
        color: red;
    }

    .button {
      display: inline-block;
      border-radius: 12px;
      background-color: #c7cde8;
      border: none;
      color: black;
      text-align: center;
      font-size: 14px;
      padding: 15px;
      width: 150px;
      transition: all 0.5s;
      cursor: pointer;
      margin: 5px;
      font-family: Open sans;
    }

    .button:hover{
        background-color: black;
        color: white;
    }

</style>

<script class="text/javascript">
    function export_final_study_plan(){
        window.print();
    }
</script>

<div class="container">
    <!--- header for final study plan --->
  <h2>Study Plan</h2>
  <h4>{{ course_code }} for {{ course_field }} in Semester {{ semester }} and Year {{ year }}</h4>

    <!--- table to show the final selected unit for study plan --->
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Unit Code</th><th>Unit Name</th><th>Unit Type</th><th>Points</th>
      </tr>
    </thead>
    <tbody>
        {% for final_unit in final_units%}
            <!--- condition to check the pre-requisite for the unit --->
            {% if final_unit.PreRequisite %}
                <tr>
                    <td><div class="final_unit_with_prerequisite">{{ final_unit.UnitCode }}</div></td>
                    <td><div class="final_unit_with_prerequisite">{{ final_unit.UnitName }}</div></td>
                    <td><div class="final_unit_with_prerequisite">{{ final_unit.Type }}</div></td>
                    <td><div class="final_unit_with_prerequisite">{{ final_unit.Points }}</div></td>
                </tr>
            {% else %}
                <tr>
                    <td><div class="final_unit_without_prerequisite">{{ final_unit.UnitCode }}</div></td>
                    <td><div class="final_unit_without_prerequisite">{{ final_unit.UnitName }}</div></td>
                    <td><div class="final_unit_without_prerequisite">{{ final_unit.Type }}</div></td>
                    <td><div class="final_unit_without_prerequisite">{{ final_unit.Points }}</div></td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
  </table><!--- end table table-hover --->

    <!--- division for printing the page --->
    <div class="print_page">
        <button class="button" type="submit" style="vertical-align:middle" onclick="export_final_study_plan()" ><span>Export Study Plan</span></button>
    </div> <!--- end print_page --->

</div><!--- end container --->

{% endblock %}