{% extends 'student/base.html' %}

{% block nav_right%}
    <li class="active">
        <a  class="navbar-header" href="{% url 'student:index' %}">
            <span class="glyphicon glyphicon-user"></span>&nbsp; Student
        </a>
    </li>
    <li class="active">
        <a  class="navbar-header" href="{% url 'lecturer:lecturer_login' %}">
            <span class="glyphicon glyphicon-user"></span>&nbsp; Lecturer
        </a>
    </li>
{% endblock %}


{% block body %}

<style type="text/css">
    .unit_without_prerequisite {
    color: green;
    }

    .unit_with_prerequisite {
        color: red;
    }
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      width: 100%;
      overflow:auto;
    }

    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    .dropdown-content a:hover {background-color: #ddd;}

    .dropdown:hover .dropdown-content {display: block;}

    .dropdown:hover .dropbtn {background-color: #3e8e41;}
</style>


<script type="text/javascript">
	function moving_with_prerequisite() {
		var content = document.getElementById("ToSelectUnit").innerHTML;
		    document.getElementById("SelectedUnits").innerHTML = content;
	}

	function Unit_PreRequisite_Info(radio_button_id, selected_unit_code, selected_unit_name) {
		var pre_requisite_info = '{{ pre_requisite_units }}';
		var code = [];
		var pre_requisite_code = "";
		var pre_requisite_name = "";
		{% for pre_requisite_unit in pre_requisite_units %}
			code.push('{{ pre_requisite_unit.UnitCode }}');
		{% endfor %}
		var pop_up_msg = "Selected Unit \n" + selected_unit_name + "-" + selected_unit_code + "\n" + "No pre-requisite required";
		for(each_code in code){
			if(selected_unit_code == code[each_code]){
				{% for pre_requisite_unit in pre_requisite_units %}
					if(selected_unit_code =='{{ pre_requisite_unit.UnitCode }}'){
						pre_requisite_code = '{{ pre_requisite_unit.PreRequisiteCode }}';
						{% for unit in units %}
							if(pre_requisite_code == '{{ unit.UnitCode }}' ){
								pre_requisite_name = pre_requisite_name + "\n" + ('{{ unit.UnitName }}');
							}
						{% endfor %}
					}
				{% endfor %}
			pop_up_msg = "Selected Unit \n" + selected_unit_name + "-" + selected_unit_code + "\n" + "Following pre-requisite are required "+ pre_requisite_name+ "\n" + "Confirm that you have passed these units";
			break;
			}
		}
		var pop_up_result = confirm(pop_up_msg);
		if (pop_up_result == false){
			document.getElementById(radio_button_id).checked = false;
		}
	}

//	function delete_confirmation(selected_unit_button_id, selected_unit_name){
//	    var delete_confirmation_pop_up = confirm("Confirm that you wanna delete "+selected_unit_name);
//	    if (delete_confirmation_pop_up == false){
//			document.getElementById(selected_unit_button_id).checked = false;
//		}
//	}
</script>


<div class="container" >

    <div class="row" id="features">
        <div class="col-sm-5 features" id="SelectedUnits">
            {% if error_message %}
                {{ error_message }}
            {% endif %}
            {% if unit_for_div %}
                <h4>List of Selected Units</h4>
                <div class="delete_unit_form">
                    <form action="{% url 'student:delete_unit' course_field course_code semester year %}" method="post">
                        {% csrf_token %}
                        <table class="table table-hover">
                            <thead>
                              <tr>
                                <th>Unit Name</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for div_unit in unit_for_div %}
                                    <tr>
                                        <td>
                                            <input type="radio" id="div_unit{{ forloop.counter }}" name="div_unit" value="{{ div_unit.UnitCode }}" onclick="delete_confirmation('div_unit{{ forloop.counter }}', '{{ div_unit.UnitName }}')" />
                                            <label for="div_unit{{ forloop.counter }}">
                                                {% if div_unit.PreRequisite %}
                                                    <div class="unit_with_prerequisite">
                                                        {{ div_unit.UnitName }}
                                                    </div><!--- end "unit_with_prerequisite" --->
                                                {% else %}
                                                    <div class="unit_without_prerequisite" >
                                                        {{ div_unit.UnitName }}
                                                    </div><!--- end "unit_without_prerequisite" --->
                                                {% endif %}
                                            </label>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <br><br>
                        <input type="submit" value="Remove Unit">
                    </form><!--- end delete_form --->
                </div><!--- end delete_unit_form --->

                <form action="{% url 'student:final_study_plan' course_field course_code semester year %}" method="post">
                    {% csrf_token %}
                    <br><br>
                    <input type="submit" value="Final Study Plan">
                </form><!--- end study plan form --->
            {% endif %}
        </div><!--- end SelectedUnits--->


        <div class="col-sm-6 features" id="ToSelectUnit">
            <strong><h4>List of Units For {{ course_code }} in {{ course_field }} for semester {{ semester }}
            </h4></strong>
            <form action="{% url 'student:add_unit' course_field course_code semester year %}" method="post">
                {% csrf_token %}
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Unit Name</th><th>Unit Code</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for unit in units %}
                            <tr>
                                <td>
                                    <div class="unit_radio_button">
                                        <input type="radio" id="unit{{ forloop.counter }}" name="unit" value="{{ unit.UnitCode }}" onclick="Unit_PreRequisite_Info('unit{{ forloop.counter }}', '{{ unit.UnitCode }}', '{{ unit.UnitName }}')" />
                                        <label for="unit{{ forloop.counter }}">
                                            {{ unit.UnitName}}
                                        </label>
                                    </div><!--- end "unit_radio_button" --->
                                </td>
                                <td>{{ unit.UnitCode}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <input type="submit" value="Add" >
            </form><!---end form--->
        </div><!--- end ToSelectUnit--->



        <div class="col-sm-1 features" id="filter_div">
            <div class="dropdown">
              <button class="dropbtn">Filter</button>
              <div class="dropdown-content">
                  <a href="{% url 'student:all_unit' course_field course_code semester year %}">All</a>
                  <a href="{% url 'student:core_unit' course_field course_code semester year %}">Core Unit</a>
                  <a href="{% url 'student:common_unit' course_field course_code semester year %}">Common Unit</a>
                  <a href="{% url 'student:specialist_elective' course_field course_code semester year %}">Specialist Elective</a>
                  <a href="{% url 'student:research_unit' course_field course_code semester year %}">Research Unit</a>
              </div><!--- end dropdown-content --->
            </div><!--- end dropdown --->
        </div><!--- end filter_div --->
    </div><!--- end features--->
</div><!--- end container --->
{% endblock %}






























